body {
    color: white;
}

#answer-container {
    cursor: pointer;
    display: flex;
    margin-bottom; 0.8rem;
    width: 100%;
    min width: 80rem;
    border-radis: 4px;
    background: black;

}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}


#quiz {
    display: flex;
    justify-content: space-between;
}

.quiz-prefix {
    text-align: center;
    font-size: 2 rem;
}

.quiz-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid yellow;
    margin-top; 2rem;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull {
    height: 100%;
    background: yellow;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }

}